## Basic Data Types
1. Numeric - int, float
2. Strings
3. Boolean - True, False

In [2]:
# Variable is a reserved memory space use to store a value. 
roll = 1                            # assigning intger value to the roll variable
height = 5.5                        # assigning float value to the height variable
name = "Parth"                      # assigning string value to the roll variable  (either ' ' or " ")
print('Roll is : ', roll)
print('Height is : ', height)
print('Name is : ', name)

Roll is :  1
Height is :  5.5
Name is :  Parth

In [3]:
# type() is used to check the data type of the variable. 
print(type(roll))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

## Arithmetic Operators in Python

In [4]:
num1 = 10
num2 = 2

In [5]:
print("Addition : ", num1 + num2)                                   # Addition Operator
print("Subtraction : ", num1 - num2)                                # Subtraction Operator
print("Multiplication : ", num1 *  num2)                            # Multiplication Operator
print("Division : ", num1 / num2)                                   # Division Operator
print("Raise to Power : ", num1 ** num2)                            # Power Operator
print("Modulus : ", num1 % num2)                                   # Modulus Operator

Addition :  12
Subtraction :  8
Multiplication :  20
Division :  5.0
Raise to Power :  100
Modulus :  0

## Comparision Operators in Python
Always return a boolean value

In [38]:
print("Equal to : ", num1 == num2)                                    # Equality Operator
print("Not Equal to : ", num1 != num2)                                # Not Equals Operator
print("Greater Than : ", num1 >  num2)                                # Greater than Operator
print("Less Than : ", num1 < num2)                                   # Less than Operator
print("Greater Than Equal to : ", num1 >= num2)                      # Greater than equals to Operator
print("Less Than Equal to : ", num1 <= num2)                         # Less than equals to Operator

Equal to :  False
Not Equal to :  True
Greater Than :  True
Less Than :  False
Greater Than Equal to :  True
Less Than Equal to :  False

## Assignment Operators in Python

In [7]:
result = num1 + num2                       # Assignment Operator
print(result)

12

In [8]:
num3 = 1
print(num3)

1

In [11]:
num3 += 1                                 # Increment by Operator
print(num3)

4

In [13]:
num3 -= 1                                 # Decrement by Operator
print(num3)

2

## Data Type Conversion (Type Casting)
There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

In [16]:
num1 = 20.5
num2 = 10.5
result = num1 + num2
print(result)

31.0

In [17]:
string1 = "Learning"
string2 = "Python"
result = string1 + " " + string2                     # python understands the operands and behave accordingly
print(result)

Learning Python

In [30]:
num1 = 20
string1 = '100'
result = str(num1) + string1
print(result)

20100

In [28]:
var = 0
bool(var)

False

## Accepting input from user : input()
Always returns a string object

In [31]:
name = input('what is your name?')
name

what is your name?Pranali

'Pranali'

In [32]:
marks = input("Enter marks : ")
print(type(marks))
print(marks)

Enter marks : 67
<class 'str'>
67

In [35]:
percentage = (marks/150)*100
percentage

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Exercise 1: Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [1]:
hours=int(input("Enter number of hours "))
rate=float(input("Enter rate "))
pay=hours*rate
print(pay)

Enter number of hours 45
Enter rate 12.5
562.5

## Conditional statements

#### 1. Multiple if's

In [72]:
x = 5
if x < 10:
    print('smaller')
    print('First if block')
if x > 10:
    print('bigger')
print('done')

bigger
done

#### 2. Nested if's

In [3]:
x=150
if x>1:
    print('more than one')
    if x<100:
        print('less than 100')
print('all done')

more than one
all done

#### 3. If else

In [74]:
x=12
if x>=2:
    print('Bigger')
else:
    print('Smaller')
print('all done')

Smaller
all done

#### 4. Nested if... else ...

In [75]:
x = 80
if x<2:
    print('small')
elif x<10:
    print('medium')
else:
    print('large')
print('all done')

small
all done

### Exercise 2: Rewrite your pay computation to give the employee 1.5 times the hourly rate for hours worked above 40 hours

In [4]:
hours=int(input("Enter Hours"))
rates=int(input("Enter Rates"))
extraHours=0
if hours >40:
    extraHours=hours-40
    pay = extraHours*1.5*rates + 40*rates
else: 
    pay= hours * rate  
print(pay)

Enter Hours45
Enter Rates10
475.0

## Exception Handling : try and except structure
A critical operation which can raise exception is placed inside the try clause and the code that handles exception is written in except clause.

In [6]:
astr = "Hello World" 
istr = int(astr)
print('First', istr)

ValueError: invalid literal for int() with base 10: 'Hello World'

In [5]:
astr = '123'
istr = int(astr)
print('Second', istr)

Second 123

In [8]:
astr = input("Enter a number:")
try:
    ival=int(astr)
    print('Number entered is: ', ival)
except:
    print('Not a number')

Enter a number:four
Not a number

### Excercise 3: Rewrite the pay computation code to handle non numeric input values

In [11]:
hours = 0
rate = 0
try:
    hours = float(input('enter hours'))
except:
    print('enter a numeric value for hours')
try:
    rate = float(input("enter rate"))
except:
    print('enter a numeric value for rate')
if hours > 40:
    pay = 40 * rate + (hours-40)*1.5*rate
else:    
    pay=hours * rate
print(pay)

enter hours50
enter rateten
enter a numeric value for rate
0.0

### Assignment 1: Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
#### >= 0.9 A
#### >= 0.8 B
#### >= 0.7 C
#### >= 0.6 D
#### < 0.6 F If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85."

In [87]:
score = float(input("Enter the score between 0.0 and 1.0"))
if score>=0.0 and score <=1.0:
    print("Score is in the range")
    if score < 0.6:
        grade = "F"
    elif score >=0.6 and score < 0.7:
        grade = "D"
    elif score >=0.7 and score<0.8:
        grade = "C"
    elif score >=0.8 and score<0.9:
        grade = "B"
    elif score >=0.9 and score <1.0:
        grade = "A"
    print("Grade is", grade)
else:
    print("Score is out of range")

Enter the score between 0.0 and 1.00.8
Score is in the range
Grade is B

In [93]:
try:
    score=float(input('Prompt a score between 0.0 and 1.0'))
    if (score < 0.0 or score > 1.0):
        print("Score not in range")
    else:
        print("Score is in range")
    if score < 0.6:
        grade = "F"
    elif score >=0.6 and score < 0.7:
        grade = "D"
    elif score >=0.7 and score<0.8:
        grade = "C"
    elif score >=0.8 and score<0.9:
        grade = "B"
    elif score >=0.9 and score <1.0:
        grade = "A"
    print("Grade is", grade)
except:
    print("Enter numeric value for score")

Prompt a score between 0.0 and 1.00.4
Score is in range
Grade is F

## Iterative Statements

### 1. While Loop

In [12]:
n = 5
while n > 0 :
    print(n)
    n = n - 1 
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

#### Observe the following while loops and state the output

In [ ]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

In [ ]:
n = 5
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

### break and continue statements

In [13]:
while True:
    line = input('> ')
    if line == 'done' :
        break               # Terminates the loop statement and transfers execution to the statement immediately following the loop.
    print(line)
print('All Done!')

> hello
hello
> pranali
pranali
> done
All Done!

In [14]:
while True:
    line = input('Enter some value ')
    if line[0] == '#':
        continue             # Skips the current iteration and immediately start the next iteration
    if line == 'done' :
        break
    print(line)
print('Done!')

Enter some value Pranali
Pranali
Enter some value #hello
Enter some value done
Done!

### 2. For Loop

In [15]:
for i in [5,4,3,2,1]:
    print(i)
print("Blast Off")

5
4
3
2
1
Blast Off

### Excercise 4: Find the maximum element out of the list given as: [3,41,12,74,15,42,98]

In [16]:
largest = 0
num_list = [3,41,12,74,15,42,98]
for i in num_list:
    if i > largest:
        largest = i
print(largest)

98

### Assignment 2: For the list [3,41,12,74,15,42,98]. Find the number of elements, sum of all the elements and average of all the elements in the list.

In [117]:
count = 0
total = 0
avg = 0
num_list = [3,41,12,74,15,42,98]
for i in num_list:
    count = count + 1
    total = total + i
avg = total/count
print("Total no. of elements are ", count)
print("sum of the numbers is ", total)
print("Average is ", avg)

Total no. of elements are  7
sum of the numbers is  285
Average is  40.714285714285715